* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


:root {
    --white: #fff;
    --bg: #040D1F;
    --black: #000;
    --CR: 'CR', sans-serif;
    --CB: 'CB', sans-serif;
    --MR: 'MR', sans-serif;
    --MB: 'MB', sans-serif;
    --RR: 'RR', sans-serif;
    --RM: 'RM', sans-serif;
    --or: #ED8E00;
    --bgor: #F18128;
}

body {
    background: var(--bg);
    color: var(--white);
}

.container {
    max-width: 1140px;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
}